---
import GuideCard from "@components/GuideCard.astro";
import Base from "@layouts/Base.astro";
import { getCollection } from "astro:content";

const guide = await getCollection("guide");
const sortById = (a, b) => {
  return b.data.id - a.data.id;
};
guide.sort(sortById);
---

<style>
  section.guides {
    margin: auto;
  }
</style>

<Base>
  <section class="guides row">
    {
      guide.map((g) => (
        <GuideCard
          id={g.data.id}
          body={g.data.description}
          title={g.data.title}
          thumbnail={g.data.thumbnail}
          href={`/guide/${g.slug}`}
          tags={g.data.tags}
        />
      ))
    }
  </section>
</Base>
