---
import GuideCard from "@components/GuideCard.astro";
import Base from "@layouts/Base.astro";

const guides = [];

try {
  const md = await Astro.glob("./**/*.md");
  guides.push(...md);
} catch (e) {
  console.error("Error while parsing guides: ", e.message);
}

try {
  const mdx = await Astro.glob("./**/*.mdx");
  guides.push(...mdx);
} catch (e) {
  console.error("Error while parsing guides: ", e.message);
}

// const astroGuides = await Astro.glob("./*.astro")

const sortById = (a, b) => {
  return b.frontmatter.id - a.frontmatter.id;
};
guides.sort(sortById);
---

<style>
  section.guides {
    margin: auto;
  }
</style>

<Base>
  <section class="guides row">
    {
      guides.map((g) => (
        <GuideCard
          id={g.frontmatter.id}
          body={g.frontmatter.description}
          title={g.frontmatter.title}
          thumbnail={g.frontmatter.thumbnail}
          href={g.url}
          tags={g.frontmatter.tags}
        />
      ))
    }
  </section>
</Base>
